{{<Title}}Nustache MVC View Engine Test{{/Title}}

<h2>{{>Title}}</h2>

<p>Does ViewData work? <span class="success">{{ DoesViewDataWork }}</span></p>
<p>Does ViewBag work? <span class="success">{{ DoesViewBagWork }}</span></p>
<p>Do Model properties work? <span class="success">{{ Model.DoModelPropertiesWork }}</span></p>

<p>Do partials work?</p>
{{>PartialNustache}}

{{<Section}}
Sections work!
{{/Section}}