{{<Title}}Nustache MVC View Engine Test{{/Title}}

<h2>{{>Title}}</h2>

<p>Does ViewData work? <span class="success">{{ DoesViewDataWork }}</span></p>
<p>Does ViewBag work? <span class="success">{{ DoesViewBagWork }}</span></p>
<p>Do Model properties work? <span class="success">{{ Model.DoModelPropertiesWork }}</span></p>

<p>Do partials work?</p>
{{>PartialNustache}}

{{<Section}}
Sections work!
{{/Section}}

<p>Links to other test pages:</p>

<ul>
	<li><a href="/Home/RazorWithPartialNustache">RazorWithPartialNustache</a></li>
	<li><a href="/Home/MissingView">MissingView</a></li>
	<li><a href="/Home/MissingPartial">MissingPartial</a></li>
</ul>