{{<Title}}Index{{/Title}}

<h2>Index</h2>

<p>ValueInViewData: {{ ValueInViewData }}</p>
<p>ValueInViewBag: {{ ValueInViewBag }}</p>
<p>ModelProperty: {{ Model.ModelProperty }}</p>

{{<Section}}
<p>This is a nested section.</p>
{{/Section}}