{{<Title}}Nustache MVC View Engine Test{{/Title}}

<h2>{{>Title}}</h2>

<p>Does ViewData work (will not when the RootContext is set to Model)?</p>
<p class="success">{{ DoesViewDataWork }}</p>

<p>Does ViewBag work? (will not when the RootContext is set to Model)</p>
<p class="success">{{ DoesViewBagWork }}</p>

<p>Do Model properties work? (will not when the RootContext is set to Model)</p>
<p class="success">{{ Model.DoModelPropertiesWork }}</p>

<p>Do unprefixed Model properties work? (will not when the RootContext is set to ViewData)</p>
<p class="success">{{ DoModelPropertiesWork }}</p>

<p>Do partials work?</p>
{{>PartialNustache}}

{{<Section}}
Sections work!
{{/Section}}

<p>Does HTML encoding work?</p>
<p class="success">{{ DoesHtmlEncodingWork }}</p>

<p>Do triple staches work?</p>
<p class="success">{{{ DoesHtmlEncodingWork }}}</p>

<p>Does international character encoding work?</p>
<p class="success">{{ DoesInternationalCharacterEncodingWork }}</p>

<p>Does Russian character encoding work?</p>
<p class="success">{{ DoesRussianCharacterEncodingWork }}</p>

<p>Links to other test pages:</p>

<ul>
	<li><a href="/Home/RazorWithPartialNustache">RazorWithPartialNustache</a></li>
	<li><a href="/Home/MissingView">MissingView</a></li>
	<li><a href="/Home/MissingPartial">MissingPartial</a></li>
</ul>