<p class="success">Rendering the partial Nustache view worked!</p>

<p>Do model properties work? (will not when the RootContext is set to Model)</p>
<p class="success">{{Model.DoModelPropertiesWork}}</p>

<p>Do unprefixed model properties work? (will not when the RootContext is set to ViewData)</p>
<p class="success">{{DoModelPropertiesWork}}</p>

<p>Does including partials from partials work?</p>
{{>AnotherPartialNustache}}
