@{
    ViewBag.Title = "RazorWithPartialNustache";
}

<style>
    .success { color: green; }
</style>

<h2>RazorWithPartialNustache</h2>

<p>Does including Nustache views from Razor views work?</p>

@Html.Partial("PartialNustache")

<p>This is how MVC encodes international characters:</p>
<p class="success">@ViewBag.InternationalCharacters</p>